@charset "UTF-8";
@import "add/reset";
@import "add/fonts";


$bg_normal:     #FFFFFF;
$bg_firm:       #EFEEEE;
$bg_light:      #F7F7F7;
$bg_dark:       #E9EAEE;
$bg_akcent:     #7B858E;

$firm_normal:       #428A98;
$firm_dark:         #336B77;
$firm_akcent:       #F33A3D;
$firm_light:        #50A5B5;

$font_color:        #333;
$font_color_light:  #666;
$font_color_dark:   #000;


%shadow { box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1); }
%animation  { transition: 0.2s; }
%border { border-radius: 3px; }


body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: $font_color;
    background: $bg_dark;
}

.wrapper {
    max-width: 1200px;
    min-width: 360px;
    margin: auto;
}

h2 {
    margin-bottom: 40px;
    font-family: Exo;
    font-weight: 500;
    font-style: italic;
    font-size: 2.7em;
    text-align: center;
    text-transform: uppercase;
    color: $firm_normal;
}

h2:after {
    content: "";
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 200px;
    height: 1px;
    background: $bg_dark;
}

a.button {
    @extend %animation;
    @extend %border;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 25px;
    color: $bg_normal;
    background: $firm_akcent;
    border: 1px solid $firm_akcent - 30;

    &:hover { background: $firm_akcent + 30; }
    &:active { background: $firm_akcent - 30; }
}


@import "add/preloader";
@import "add/header";
@import "add/slider";
@import "add/aboutus";
@import "add/services";
@import "add/download";
@import "add/clients";
@import "add/contacts";
@import "add/feedback";
@import "add/footer";