#clients {
	background: $bg_firm - 5;

	.wrapper {
		background: $bg_firm;
		border-right: 1px solid $bg_firm - 10;
		border-left:   1px solid $bg_firm - 10;

		.content {
			padding: 50px;
		}
	}

	h2:after {
		background: $bg_firm - 40;
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		.item {
			width: 30%;
			text-align: center;

			img {
				display: inline-block;
				max-height: 100px;
				max-width: 250px;
			}

			p {
				font-weight: 300;
				margin: 20px 0;
			}
		}
	}
}