header {
    background: $bg_light - 5;
    
    .wrapper {
        .content {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 50px;
            background: $bg_light;
            border-right: 1px solid $bg_light - 10;
            border-left: 1px solid $bg_light - 10;
        }
    }

    .header_logo_min {
        display: none;
        width: 50px;
        height: 50px;

        svg {
            display: block;
            width: 100%;
            height: 100%;

            .fil0 { fill: $bg_firm; }
            .fil1 { fill: $firm_normal; }
            .fil2 { fill: $firm_akcent; }
        }
    }

    .header_logo {
        width: 200px;

        svg {
            display: block;
            width: 100%;
            height: auto;

            .fill_1 { fill: $bg_firm; }
            .fill_2 { fill: $firm_normal; }
            .fill_3 { fill: $firm_akcent; }
        }

        a {
            display: block;
        }
    }

    .toggle_menu {
        display: none;
        @extend %animation;
        width: 50px;
        height: 50px;
        background: $bg_firm;
        padding: 15px 10px;
        cursor: pointer;
        border-radius: 50%;
        overflow: hidden;

        &:hover {
            background: $bg_firm - 5;
        }

        .line {
            width: 100%;
            height: 3px;
            background: $firm_normal;

            &:nth-child(2) { margin-top: 6px; }
            &:nth-child(3) { margin-top: 6px; }
        }
    }

    nav {
        display: flex;
        justify-content: center;

        a {
            display: block;
            padding: 30px 10px;
            font-size: 0.9em;
            text-decoration: none;
            text-transform: uppercase;
            color: $firm_dark;
            @extend %animation;

            &:hover {
                color: $firm_akcent;
                background: $bg_light - 5;
            }
        }
    }
}