@media (max-width: 992px) {
	#clients {
		.container {
			.item {
				img {
					max-height: 80px;
					max-width: 200px;
				}
			}
		}
	}

	#messege {
		.inputs {
			padding: 0px 50px;
		}
	}
}

@media (max-width: 768px) {
	h2 {
		margin-bottom: 10px;
		font-size: 2em;
	}
	header .wrapper .content,
	#slider .content,
	#aboutus .content,
	#services .content,
	#download .wrapper,
	#clients .wrapper,
	#contacts .wrapper,
	#feedback .content,
	footer .wrapper {
		border-right: 0;
    	border-left: 0;
    }

    header {
    	.wrapper {
    		.content {
				padding: 0 10px;
    		}
		}

		.header_logo_min { display: block; }
		.header_logo { display: none; }

		.toggle_menu {
			display: block;
		}

		nav {
			position: absolute;
			top: 100%;
			z-index: 99;
		}
	}

	#aboutus {
		.text_wrapper {
	    	padding-right: 0;

	    	p {
	    		margin: 10px;
	    	}
	    }

	    .content {
	    	padding: 10px 0;
	    }

	    .social_icons {
		    display: none;
		}
	}

	#services {
		.content {
			padding-top: 10px;
			padding-bottom: 0
		}

		.container {
			.item {
				width: 100%;
			}
		}
	}

	#download {
		.wrapper {
			.content {
				padding: 10px;
			} 
		}
		.container {
			.item {
				width: 100%;
				margin-top: 15px;
				border-bottom: 1px solid $bg_normal - 10;
				padding-bottom: 15px;

				&:last-child {
					border-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
	}

	#clients {
		.wrapper {
			.content {
				padding: 10px;
			}
		}

		.container {
			.item {
				width: 100%;
				margin-top: 15px;

				p {
					display: none;
				}
			}
		}
	}

	#contacts {
		.wrapper {
			.content {
			    padding-top: 10px;
			}
		}

		.container {
			margin-bottom: 10px;

			.item {
				width: 100%;
				margin-top: 15px;

				.image {
					margin-bottom: 5px;
				}
			}
		}
	}

	#feedback {
		.content {
			padding: 10px;
		}
	}

	#messege {
		margin-top: 0;

		.inputs {
			padding: 0;

			div, textarea {
				width: 100%;
			}

			input[type="text"] {
				margin-bottom: 15px;
			}
		}

		input[type=submit] {
			margin-top: 15px;
		}
	}

	footer {
		.wrapper {
			.content {
				padding: 10px;
			}
		}

		.footer_menu {
			.item {
				display: none;
			}
			.item.social {
				width: 100%;
				display: flex;
				justify-content: center;
			}
		}
			
		.copyright {
			margin-top: 10px;
		}
	}
}

