#services {
	background: $firm_normal - 5;

	.content {
		padding: 50px 0;
		background: $firm_normal;
		border-right: 1px solid $firm_normal - 10;
		border-left:   1px solid $firm_normal - 10;
	}

	h2 {
		color: $bg_light;
	}

	.container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.item {
			position: relative;
			width: 50%;
			height: 320px;

			.noize {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				@extend %animation;

				p {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					padding: 15px;
					text-align: center;
					font-size: 1.2em;
					text-transform: uppercase;
					font-weight: 400;
					color: $font_color_dark;
					background-color: rgba(255,255,255,.9);
				}
			}

			&:hover {
				.noize {
					background-color: rgba(255,255,255,.2);
				}
			}
		}
	}
}