#services {
	background: $firm_normal - 5;

	.content {
		padding: 50px 0;
		background: $firm_normal;
		border-right: 1px solid $firm_normal - 10;
		border-left:   1px solid $firm_normal - 10;
	}

	h2 {
		color: $bg_light;
	}

	.container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.item {
			position: relative;
			width: 50%;
			height: 320px;

			.noize {
				opacity: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 50px;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0,0,0,.6);
				@extend %animation;

				p {
					text-align: center;
					font-size: 25px;
					color: $bg_normal;
				}
			}

			&:hover {
				.noize {
					opacity: 1;
				}
			}
		}
	}
}