@keyframes fading {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

#slider {
    background: $bg_dark - 5;

    .content {
        border-right: 1px solid $bg_dark - 10;
        border-left: 1px solid $bg_dark - 10;
        position: relative;

        .img_slides {
            display: block;
            width: 100%;
        }
    }

    .arrow {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        width: 100%;

        .arrow_button {
            $size: 70px;
            width: $size;
            height: $size;
            cursor: pointer;
            font-size: 30px;
            line-height: $size;
            text-align: center;
            border-radius: 50%;
            color: $font_color_light;
            @extend %animation;

            &:hover {
                color: $firm_akcent;
                background: rgba(0,0,0,0.02);
            }
        }
    }

    .fading {
        animation: fading 1.5s;
    }
}